<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>FiltroEvaluaciones</filter-name>
        <filter-class>servlets.FiltroEvaluaciones</filter-class>
    </filter>
    <servlet>
        <servlet-name>RegistrarAlumno</servlet-name>
        <servlet-class>servlets.RegistrarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroEvaluacion</servlet-name>
        <servlet-class>servlets.VerProtocolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvUploadServlet</servlet-name>
        <servlet-class>servlets.EvUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarProtocolo</servlet-name>
        <servlet-class>servlets.registrarProtocolo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarAlumno</servlet-name>
        <url-pattern>/RegistrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>FiltroEvaluaciones</filter-name>
        <url-pattern>/docs/evaluaciones/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>RegistroEvaluacion</servlet-name>
        <url-pattern>/RegistroEvaluacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvUploadServlet</servlet-name>
        <url-pattern>/EvUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarProtocolo</servlet-name>
        <url-pattern>/registrarProtocolo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
